<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>اضافة مهمة جديدة</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">
</head>
<body>
    <form  class="timed-form">
        <div>
            <label>أدخل المهمة الجديدة</label>
            <input type="text" class="note" autofocus required>
         </div>
        <h3>ذكرني بها بعد</h3>
        <div class="time-pick">
            <div>
                <label>ساعة</label>
                <input type="number" value="0" class="pick-hours" required>
            </div>
            <div>
                <label>دقيقة</label>
                <input type="number" value="0" class="pick-minutes" required>
            </div>
        </div>
     <button type="submit">
        <i class="fas fa-plus"></i>
     اضافة مهمة 
     </button>
    </form>

    <script src="../assets/js/timedScript.js"></script>
    
</body>
</html>
